name: AutoBuild Module.sgmodule
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
    - name: Run Python script
      run: |
        python AutoBuild/ModuleBuild.py
    - name: Set up Git configuration
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
    - name: Commit & push generated Module.sgmodule
      uses: EndBug/add-and-commit@v9
      with:
        author_name: 'GitHub Actions'
        author_email: 'actions@github.com'
        message: 'AutoBuild Module.sgmodule file'
        add: 'Module.sgmodule'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
